.chatHeader {
  margin-bottom: 20px;
}

.chatMessagesWrapper {
  flex: 1; /* Allow messages wrapper to expand and take available space */
  max-height: 100%; /* Limit maximum height within the container */
  overflow-y: auto; /* Default maximum height for larger screens */
  height: 410px;
  width: calc(100% + 1em);
  margin-right: -1em;

  @media (max-width: 1250px) {
    height: 315px; /* Adjusted max height for smaller screens */
    max-height: 315px; /* Adjusted max height for smaller screens */
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%; /* Allow the container to take full height */
  /* Add any other styles you want for the chat container */
}

.chatInputWrapper {
  display: flex;
  align-items: center;
  /* Add styles for the input and send button */
}

.chatMessagesWrapper::-webkit-scrollbar {
  width: 0.5em;
}

.chatMessagesWrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.chatMessagesWrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
