.MuiOutlinedInput-notchedOutline {
    border-color: #12134F !important;
    border-radius: 20px !important;
  }
  
  .divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  // Base line
  .line {
    align-items: center;
    margin: 1em -1em;
  
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }
  
  .one-line {
    &:before,
    &:after {
      background: #fff;
    }
  }
  

  $btnWidth: 100%;
  $maxWidth: 450px;
  $btnBorderRadius: 15px;
  $btnBackgroundColor: #8080D7;
  $btnMarginTop: 20px;
  
  .PrimaryButton {
    width: $btnWidth!important;
    max-width: $maxWidth!important;
    border-radius: $btnBorderRadius!important;
    background-color: $btnBackgroundColor!important;
    margin-top: $btnMarginTop!important;
  }


  $btnWidth: 100%; // Replace with your desired button width
$btnBorderRadius: $btnBorderRadius!important; // Replace with your desired border radius
$btnBackgroundColor: $btnBackgroundColor!important;; // Replace with your desired button background color
$btnMarginTop: 16px; // Replace with your desired margin top
$btnHeight: 48px; 
.RegisterBtn {
  font-weight: bold;
  width: $btnWidth;
  height: $btnHeight;
  max-width: 200px;
  border-radius: $btnBorderRadius;
  background-color: $btnBackgroundColor;
  margin-top: $btnMarginTop;

  // Responsive styles using Media Queries
  @media (max-width: 600px) { // Adjust the breakpoint as needed
    width: 50%; // Full width on small screens
    height: 40px; // Adjust the height for small screens
  }

  @media (max-width: 400px) { // Adjust the breakpoint as needed
    height: 36px; // Further adjust the height for smaller screens
  }
}

  $btnMarginTop: 25px;
$btnBackgroundColor: #0A0C38;
$btnBorder: 1px solid #fff;

.SecondaryButton {
  margin-top: $btnMarginTop!important;
  background-color: $btnBackgroundColor!important;
  border: $btnBorder!important;
}

$paperPadding: 0 15px 40px 15px;
$paperWidth: 90%;
$paperMaxWidth: 450px;
$paperBackgroundColor: rgba(0, 0, 0, 0);

.paperStyle {
  padding: $paperPadding!important;
  width: $paperWidth!important;
  max-width: $paperMaxWidth!important;
  background-color: $paperBackgroundColor!important;
}


.custom-otp {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}

