.messagewrapper::-webkit-scrollbar {
    width: 0em;
  }
  
  .messagewrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .messagewrapper::-webkit-scrollbar-track {
    background-color: transparent;
  }

  
  